.container {
    padding: 2rem;
}

.demo {
    margin-top: 1rem;
    padding: 2rem;
    border: 1px solid var(--quaternary-contrast);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
}
